<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/book/add" method="post" enctype="multipart/form-data">
    <input type="text" name="title" placeholder="title"> <br>
    <input type="text" name="description" placeholder="description"> <br>
    <input type="number" name="price" placeholder="price"> <br>
    <input type="number" name="count" placeholder="count"> <br>
    Author: <select name="author.id"><br>
    <option th:each="a : ${authors}" th:value="${a.id}" th:text="${a.name + ' ' + a.surname}">
    </option>
</select>
    <input type="file" name="picture"><br>


    <input type="submit" value="Add"> <br>
</form>
</body>
</html>