<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/author/add">Add Author</a> | <a href="/book/add">Add Book</a>

<br>

<ul>
    <li th:each="author : ${authors}">
        <a th:href="@{/book/byAuthor(authorId=${author.id})}" th:text="${author.name + author.surname}"></a>
    </li>
</ul>
<table border="1">
    <tr>
        <td>image</td>
        <td>id</td>
        <td>title</td>
        <td>description</td>
        <td>Author.name</td>
        <td>Author.surname</td>
        <td>price</td>
        <td>count</td>
        <td>Action</td>
    </tr>
    <tr th:each="book : ${books}">
        <td><img width="50" th:if="${book.picUrl != null}" th:src="@{/book/getImage(picUrl=${book.picUrl})}"></td>
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.author.name}"></td>
        <td th:text="${book.author.surname}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.count}"></td>
        <td><a th:href="@{/book/delete(id=${book.id})}">Delete</a></td>
    </tr>
</table>


<table border="1">
    <tr>
        <td>AuthorName</td>
        <td>AuthorSurname</td>
        <td>AuthorEmail</td>
        <td>AuthorBooks</td>
    </tr>
    <tr th:each="a: ${authors}">
        <td th:text="${a.name}"></td>
        <td th:text="${a.surname}"></td>
        <td th:text="${a.email}"></td>
        <td><span th:each="b: ${a.books}" th:text="${b.title + ' '}"></span></td>
    </tr>
</table>
Users:
<table border="1">
    <tr>
        <td>UserName</td>
        <td>UserSurname</td>
        <td>UserEmail</td>
        <td>UserBooks</td>
    </tr>
    <tr th:each="u: ${users}">
        <td th:text="${u.name}"></td>
        <td th:text="${u.surname}"></td>
        <td th:text="${u.email}"></td>
        <td><span th:each="b: ${u.bookList}" th:text="${b.title + ' '}"></span></td>
    </tr>
</table>
</body>
</html>